.env
wp-config.php
.ssh/
dkim_keys/
logs/
.cache/
.composer/
.wp-cli/
wordpress-backups/
*.log
.DS_Store
.idea/
*.sql
*.zip
*.tar
*.tar.gz
*.tgz
*.bak
*.wpress
backup/
backups/
archive/
wp-content/ai1wm-backups/
*.key
*.pem
mngr/keys/
error_log
*.log
