@font-face {
	font-family: Lato;
	src: local("Lato Regular"), local("Lato-Regular"), url(https://themes.googleusercontent.com/static/fonts/lato/v4/9k-RPmcnxYEPm8CNFsH2gg.woff) format("woff");
	font-weight: 400;

}
@font-face {
	font-family: Rokkitt;
	src: local("Rokkitt"), url(https://themes.googleusercontent.com/static/fonts/rokkitt/v4/4Z-2qkHrI1biwaOxvW6ZTA.woff) format("woff");
	font-weight: normal;
	font-style: normal;
}




input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #DCDDDE;
}
input:-moz-placeholder, textarea:-moz-placeholder {
  color: #DCDDDE;
}

.vertical ul {
	background: url("../images/bg.png") repeat-y; margin: 0px; padding: 0px; width: 144px; list-style-type: none;
}
.vertical li a {
	margin: 0px; padding: 0px 0px 0px 16px; color: rgb(0, 0, 0); font-family: "Lato", "sans-serif"; font-size: 11px; text-decoration: none; display: block;
}
.vertical li {
	text-transform: uppercase; line-height: 22px; border-bottom-color: rgb(153, 153, 153); border-bottom-width: 1px; border-bottom-style: solid;
}
.vertical li a:hover {
	
}
.vertical li ul {
	background: url("../images/menu_over_bg.png") no-repeat; left: 145px; top: -1px; width: 160px; height: 193px; padding-top: 10px; position: absolute;
}
.vertical li ul li {
	text-transform: none; line-height: 20px; border-bottom-color: currentColor; border-bottom-width: medium; border-bottom-style: none;
}
.vertical li ul li a {
	
}
.vertical li ul li a:hover {
	background: url("../images/redarrow.png") no-repeat 4px;
}
.plus.mlmenu li a:first-child:not(:last-child)::after {
	content: "+";
}
.plus a span {
	padding-left: 0.5em;
}
.noshow {
	visibility: hidden;
}
.blackwhite li a {
	
}
.blackwhite > li > a.active {
	color: rgb(178, 38, 37) !important;
}

.blackwhite li a:hover {
	color: rgb(178, 38, 37);
}
.blackwhite li a.first:hover {
	color: rgb(178, 38, 37);
}
.blackwhite .trail a.hover {
	color: rgb(178, 38, 37);
}
.blackwhite li:first-child > a:hover {
	color: rgb(178, 38, 37);
}
.blackwhite ul {
	
}
.vertical li selected {
	color: rgb(178, 38, 37); font-family: "Lato", "sans-serif"; font-size: 11px;
}
.vertical li selected a {
	color: rgb(178, 38, 37); font-family: "Lato", "sans-serif"; font-size: 11px;
}
